<ion-view view-title="Demandes">

     <ion-content class="padding">

       <div class="list">

    <a class="item item-icon-left" href="#">
        <i class="icon ion-arrow-right-b"></i>
        Demande 1
    </a>

    <a class="item item-icon-left" href="#">
        <i class="icon ion-arrow-right-b"></i>
        Demande 2
    </a>

    <a class="item item-icon-left" href="#">
        <i class="icon ion-arrow-right-b"></i>
        Demande 3
    </a>

    <a class="item item-icon-left" href="#">
        <i class="icon ion-arrow-right-b"></i>
        Demande 4
    </a>
</div>

     </ion-content>
