

<ion-view view-title="Accueil">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-tabs class="tabs-icon-top tabs-color-active-assertive" >

            <!-- Dashboard Tab
            <ion-tab title="Home" icon-off="ion-android-home" icon-on="ion-android-home">
                <ion-nav-view name="tab-dash"></ion-nav-view>
            </ion-tab>-->

            <!-- Offer Tab -->
            <ion-tab title="Offres" icon-off="ion-ios-list" icon-on="ion-ios-list" >

                <ion-view view-title="Offres">

                     <ion-content class="padding">

                       <div class="list">

                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-arrow-right-b"></i>
                        Offre 1
                    </a>

                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-arrow-right-b"></i>
                        Offre 2
                    </a>

                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-arrow-right-b"></i>
                        Offre 3
                    </a>

                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-arrow-right-b"></i>
                        Offre 4
                    </a>
                </div>

                     </ion-content>
            </ion-tab>

            <!-- Demand Tab -->
            <ion-tab title="Demandes" icon-off="ion-ios-compose" icon-on="ion-ios-compose" >
                <ion-view view-title="Demandes">

                     <ion-content class="padding">

                       <div class="list">

                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-arrow-right-b"></i>
                        Demande 1
                    </a>

                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-arrow-right-b"></i>
                        Demande 2
                    </a>

                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-arrow-right-b"></i>
                        Demande 3
                    </a>

                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-arrow-right-b"></i>
                        Demande 4
                    </a>
                </div>

                     </ion-content>
                </ion-view>
            </ion-tab>


        </ion-tabs>


        <!--      <style>
                 #div1 {

                     width: 350px;
                     position: relative;
                     top: 100px;
                 }
             </style>

             <div class="has-tabs-top" id="div1">
                 <h1>Welcome to the member area  {{memberInfo.login}} </h1>

             </div>-->
         </ion-content>

     </ion-view>
